.booking {
    margin-top: 150px;
}

.booking:before, 
.booking:after {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.booking:after {
	background-color: rgba(0, 0, 0, 0.5);
}

.booking:before {
	background: url(../../images/rectangle1.png) no-repeat center center / cover;
}

.booking h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 97.6842px;
    line-height: 117px;
    color: #FFFFFF;
}

.booking p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.booking-form {
    font-family: Montserrat;
    margin-left: 100px;
    padding: 25px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
}

.booking-form label {
    font-weight: 500;
    line-height: 20px;
    color: #818181;
}

.booking-form input {
    border: none!important;
    color: #000000!important;
}

.booking-form input::placeholder
{
    font-weight: bold!important;
    font-size: 16px;
    line-height: 20px;
    color: #000000!important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0)!important;
    opacity: 1!important;
}

.booking-form .start-booking-btn {
    font-weight: 500!important;
    background: #F9A51A!important;
}