.place-img {
    position: relative;
    cursor: pointer;
}

.place-img img {
    width: 270px;
    height: 416px;
}

.place-img h3{
    font-family: Bebas Neue;
    font-size: 36px;
	line-height: 43px;
	color: white;
	position: absolute;
	bottom: 30px;
	left: 20px;
}


.place-img:active,
.place-img:hover,
.place-img:focus {
    position: absolute;
	border: 4px solid #FBBC04;
    box-sizing: border-box;
    border-radius: 25px;
}